
<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>SQGDB WebReport</TITLE>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link href='/../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	  	<link href='/../css/jquery.growl.css' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="/../js/jquery.min.js"></script>
		<script type="text/javascript" src="/../js/plugin/jquery.growl.js"></script>
		<script type="text/javascript" src="/../js/jquery.js"></script>
		<script type="text/javascript" src="/../js/javascript.js"></script>
		<script type="text/javascript" src="/../js/bootstrap.min.js"></script>
	</HEAD>