<% include header.html %>
	<body>

    <div class="container">
      <img src="/../img/title.png" id="title" alt="TIFF 2015 Movie Recommender title">

    
       
        <div class="dropdown" id="land_button">
        	<!-- <img src="/../img/note.png" id="note" alt="TIFF 2015 Movie Recommender title"> -->
				<button id="dropdown_cus" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Available Date
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a onclick="SearchByDate(20150915)">September 15, 2015</a></li>
					<li><a onclick="SearchByDate(20150916)">September 16, 2015</a></li>
					<li><a onclick="SearchByDate(20150917)">September 17, 2015</a></li>
					<li><a onclick="SearchByDate(20150918)">September 18, 2015</a></li>
					<li><a onclick="SearchByDate(20150919)">September 19, 2015</a></li>
					<li><a onclick="SearchByDate(20150920)">September 20, 2015</a></li>
					
				</ul>
			</div>
			
      <p id="footer">
      	This website is independent of TIFF and is a fan made unofficial website. Contributors are Ou Ye, Lucy Wu and James Babarinde.
      </p></div>


      

  </body>
</html>