<!-- Include the header file -->
<% include header.html %>

	<body>

	<div>TIFF 2015 Movie Recommander</div>
		<div class="container">
			<h2>Dropdowns</h2>
                                
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a onclick="SearchByDate(20150915)">September 15, 2015</a></li>
					<li><a onclick="SearchByDate(20150916)">September 16, 2015</a></li>
					<li><a onclick="SearchByDate(20150917)">September 17, 2015</a></li>
					<li><a onclick="SearchByDate(20150918)">September 18, 2015</a></li>
					<li><a onclick="SearchByDate(20150919)">September 19, 2015</a></li>
					<li><a onclick="SearchByDate(20150920)">September 20, 2015</a></li>
					<li><a onclick="SearchByDate(20150921)">September 21, 2015</a></li>
				</ul>
			</div>
		</div>

		<button type"button" onclick="InsertVideoInfo();">Insert Video Info</button>
		<button type"button" onclick="ClearDB();">Clear DB</button>
		<button type"button" onclick="ListAllMovies();">List All Movie</button>

		<div id="video_info"></div>

		<table class="table table-hover">
			<thead>
		      	<tr>
		        	<th>Movie Name</th>
		        	<th>Youtube Trailer</th>
		        	<th>Number of Likes</th>
        			<th>New Article</th>
		      	</tr>
			</thead>
			
			<tbody>
					<tr>
						<td>ASDSAD</td>
						<td><a href="#">Watch Now</a></td>
						<td>12312</td>
						<td>12321</td>
					</tr>
			</tbody>
		</table>

	</body>
</html>