<!-- Include the header file -->
<% include header.html %>

	<body>
		<button type"button" onclick="InsertVideoInfo();">Insert Video Info</button>
		<button type"button" onclick="ClearDB();">Clear DB</button>
		<div id="video_info">
			<table class="table table-hover">
		    	<thead>
			      	<tr>
			        	<th>ID</th>
			        	<th>Title</th>
			        	<th>Webpage Url</th>
			        	<th>View Count</th>
			        	<th>Number of Likes</th>
			        	<th>Number of Display</th>
			        	<th>Uploaded Date</th>
			      	</tr>
		    	</thead>
		    	
		    	<tbody>
					<% for(var i = 0;i < movies.length; i++) { %>
						<tr>
							<td><%=movies[i].id%></td>
							<td><%=movies[i].title%></td>
							<td><%=movies[i].webpage_url%></td>
							<td><%=movies[i].view_count%></td>
							<td><%=movies[i].like_count%></td>
							<td><%=movies[i].dislike_count%></td>
							<td><%=movies[i].upload_date%></td>
						</tr>
					<% } %>
		    	</tbody>
		  	</table>
		</div>
	</body>

</html>