<table class="table table-striped" id="row_sep">
      <thead>
      	<tr>
        	<th class="table_title"><img src="/../img/movie.png" id="movie">Movie Name</th>
        	<th class="table_title"><img src="/../img/youtube.png" id="youtubelike">Youtube Likes</th>
        	<th class="table_title"><img src="/../img/trailer.png" id="trailer">Youtube Trailer</th>
			<th class="table_title">News Article Mentioned</th>
      	</tr>
	   </thead>
	
	<tbody>
		<% for(var i = 0;i < movies.length; i++) { %>
			<tr>
				<td><%=movies[i].name%></td>
				<td><a href="<%=movies[i].webpage_url%>">Watch Now</a></td>
				<td><%=movies[i].like_count%></td>
				<% if (movies[i].h_r === "YES") { %>
					<td><a href="#">Huff Post</a></td> %>
				<% } else if (movies[i].n_r === "YES") { %>
					<td><a href="#">National Post</a></td>
				<% } else { %>
				 	<td>None</td>
				<% } %>
			</tr>
		<% } %>
	</tbody>
</table>