<table class="table table-hover">
	<thead>
      	<tr>
        	<th>Movie Name</th>
        	<th>Video Name</th>
        	<th>Webpage Url</th>
        	<th>View Count</th>
        	<th>Number of Likes</th>
        	<th>Number of Display</th>
        	<th>Uploaded Date</th>
      	</tr>
	</thead>
	
	<tbody>
		<% for(var i = 0;i < movies.length; i++) { %>
			<tr>
				<td><%=movies[i].name%></td>
				<td><%=movies[i].title%></td>
				<td><%=movies[i].webpage_url%></td>
				<td><%=movies[i].view_count%></td>
				<td><%=movies[i].like_count%></td>
				<td><%=movies[i].dislike_count%></td>
				<td><%=movies[i].upload_date%></td>
			</tr>
		<% } %>
	</tbody>
</table>